.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    fill: none;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
    stroke: #000;
  }

  .cls-1, .cls-4, .cls-5, .cls-6 {
    stroke-miterlimit: 10;
  }

  .cls-2, .cls-3, .cls-4 {
    stroke-linecap: round;
  }

  .cls-2, .cls-3 {
    stroke-linejoin: round;
  }

  .cls-2 {
    stroke-width: 0.4px;
  }

  .cls-3 {
    stroke-width: 0.2px;
  }

  .cls-5 {
    stroke-width: 0.75px;
  }

  .cls-6 {
    stroke-width: 0.5px;
  }